*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#164891;
    --background-color:black;
    

}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
   color:var(--primary-color);
 
}
img{
    height: 50px;
}
.para{
    margin-left: 50px ;
    font-weight: 700;
    font-size: 20px;
}
.nav >.logo {
   height: 50px;
   margin: 10px;
   margin-left: 70px;
   margin-right: 70px;
   color:var(--primary-color);
   
}


.nav-li{
    background-color:var(--primary-color);
    color: white;
    height: 50px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
   

}
.nav-li li{
    padding: 20px;
    list-style: none;
} 
.nav-li li:hover{
    padding: 10px;
    list-style: none;
    background-color: white;
    color: var(--primary-color);
    border-radius: 50px;

} 

.btn{
    padding: 20px;
    margin-right: 70px;
   margin-left: 70px;
    background-color: var(--primary-color);
    color: aliceblue;
    border-radius: 50px;
    border: none;
    width:100px;


}
.content{
    
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    
}