* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    height: calc(100vh - 100px);
    background-color: aqua;
    /* width: max(100vw , 400px); */
    /* font-size: clamp(14px, 5vh, 100px); */
}

@media  (max-width : 500px){
    .box{
        background-color: red;
    }
}