.box{
    background-color: blue;
    position: fixed;
 
    width: 100%;
}
.container-1{
    height: 100vh;
    background-color: brown;
}
.container-2{
    height: 100vh;
    background-color: bisque;
}
.container-3{
    height: 100vh;
    background-color: blueviolet;
}