*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent{
    display: grid;
    /* grid-template-columns: 30vh 70vh;
    grid-template-rows: 10vh 80vh 10vh  ; */
    grid-template-areas: "hdr hdr" "opt cont" "ftr ftr";
    gap: 10px;
}


.header{
    grid-area: hdr;
    width: 100vw;
    height: 20vh;
    /* grid-column: 1/4;
    grid-row: 1/2; */
    background-color: rgb(242, 155, 25);
}
.option{
    grid-area: opt;
    width: 20vw;
    height: 100vh;
    /* grid-column: 1/2;
    grid-row: 2/3; */
    background-color: violet;
}
.content{
    grid-area: cont;
    width: 80vw;
    height: 100vh;
    
    /* grid-column: 2/4;
    grid-row: 2/3; */
   background-color: blue;
}
.footer{
    grid-area: ftr;
    width: 100vw;
    height: 20vh;
    /* grid-column: 1/4;
    grid-row: 3/4;  */
    background-color: black;

}